
@{
    ViewBag.Title = "添加菜单";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "SystemManagement")">菜单</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">菜单信息</font></font></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>

                </div>
            </div>
            <div class="ibox-content" style="">
                <form method="get">
                    <div class="form-group  row">
                        <div class="col-sm-6">
                            <label class="col-sm-2 text-right  col-form-label"><font style="vertical-align: central;">菜单名称</font></label>
                            <div class="col-sm-8" style="vertical-align: middle;"><input type="text" class="form-control" id="GoodName"></div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-2 text-right  col-form-label"><font style="vertical-align: central;">图标</font></label>
                            <div class="input-group col-sm-8" style="vertical-align: middle;">
                                <input type="text" class="form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">
                                        选择图标
                                    </button>
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="col-sm-2 text-right col-form-label"><font style="vertical-align: inherit;">控制器</font></label>
                            <div class="col-sm-8"><input type="text" class="form-control" id="Money"></div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-2 text-right col-form-label"><font style="vertical-align: inherit;">方法</font></label>
                            <div class="col-sm-8"><input type="text" class="form-control" id="Money"></div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="col-sm-2 text-right   col-form-label"><font style="vertical-align: inherit;">上级菜单</font></label>
                            <div class="col-sm-8" style="vertical-align: middle;">

                                @Html.DropDownList("parentID", ViewBag.ddmenu as SelectList, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white btn-sm" href="@Url.Action("Index","WealthManagement")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></a>
                            <button class="btn btn-primary btn-sm" type="button" id="SaveBtn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保存更改</font></font></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
