@model TheFamilyFriend.Models.MenuInfo

@{
                /**/

                ViewBag.Title = "角色授权菜单";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">主页</a>
            </li>
            <li>
                <a href="@Url.Action("MenuList", "SystemManagement")">角色管理</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm("AuthorityMenu", "SystemManagement", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>
                            操作：

                            <input type="checkbox" value="" id="check-all" /><label for="check-all">全选</label> | <input class="btn btn-primary" type="submit" value="确认授权" />

                        </h3>
                    </div>
                    <div class="ibox-content p-md">
                        @{

                            var data = ViewBag.List as List<TheFamilyFriend.Models.MenuInfo>;
                        }
                        <div class="table-responsive">
                            <table class="table table-hover issue-tracker">

                                <tbody>
                                    @if (data != null && data.Any())
                                    {
                                        foreach (var item in data)
                                        {
                                            <tr>
                                                <td>

                                                    <input type="checkbox" name="c" value="@item.Id" />
                                                </td>
                                                <td>
                                                    @item.Id
                                                </td>
                                                <td class="issue-info">
                                                    <i class="@item.MenuIcon"></i> @item.MenuName
                                                </td>
                                                <td>@item.ControllerName/@item.MethodName</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {


            $("#check-all").click(function () {
                var checkedAll = $(this).prop("checked")
                if (checkedAll) {
                    $("[name='c']").attr("checked", "checked");
                } else {
                    $("[name='c']").removeAttr("checked");
                }

            })
        })
    </script>


}