@model IEnumerable<TheFamilyFriend.Models.Personage>
@{
    ViewBag.Title = "高中同学";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Primary", "BosomFriend")">挚友</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Senior", "BosomFriend")"><strong>@ViewBag.Title</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" id="PersonContext">
        @{ foreach (var item in Model)
            {
                <div class="col-lg-3">
                    <div class="contact-box center-version">
                        <a href="#">
                            <img alt="图片" class="img-circle" src="@Url.Action("HeadPortrait", "BosomFriend", new { PersonId = @item.PersonId })" />
                            <h3 class="m-b-xs"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Name</font></font></strong></h3>
                            <div class="font-bold">
                                <font style="vertical-align: inherit;">
                                    @if (string.IsNullOrEmpty(@item.Profession))
                                    {
                                        <font style="vertical-align: inherit;">
                                            暂无
                                        </font>
                                    }
                                    else
                                    {
                                        <font style="vertical-align: inherit;">
                                            @item.Profession
                                        </font>
                                    }
                                </font>
                            </div>
                            <address class="m-t-md">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fa fa-user-plus"></i>QQ</font></font>&nbsp;&nbsp;
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        @{if (!string.IsNullOrEmpty(item.Email))
                                            {
                                                @item.Email.Substring(0, @item.Email.IndexOf("@"))
                                            }
                                            else
                                            {
                                                <span>暂无</span>
                                            }}

                                    </font>
                                    <font style="vertical-align: inherit;" class="pull-right">
                                        <i class="fa fa-heart"></i>
                                        <span class="Goodvalue">@item.LikeGood</span>
                                    </font>
                                </font>
                            </address>
                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group" dataID="@item.PersonId">
                                <a class="btn btn-xs btn-white Like"><i class="fa fa-thumbs-up"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 点赞+1</font></font></a>
                                @{ if (@item.PersonId == 1)
                                    {
                                        if (string.IsNullOrEmpty(User.Identity.Name) || User.Identity.Name != "admin")
                                        {
                                            <button class="btn btn-xs btn-white Head" disabled="disabled" title="无权修改！"><i class="fa fa-user-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 修改头像</font></font></button>
                                        }
                                        else
                                        {
                                            <a class="btn btn-xs btn-white Head"><i class="fa fa-user-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 修改头像</font></font></a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="btn btn-xs btn-white Head"><i class="fa fa-user-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 修改头像</font></font></a>
                                    }
                                }
                                <a class="btn btn-xs btn-white More"><i class="fa fa-user-plus"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 详情</font></font></a>
                            </div>
                        </div>
                    </div>
                </div>
                                    }
        }


    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="height:auto">
            <div class="modal-header">
                <strong>修改头像:</strong>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <p><label class="control-label"></label><input class="form-control" id="titleid" type="hidden" /></p>
                <p><input type="file" name="HeadPortrait" id="HeadPortrait" class="file-loading" /></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="UpdataSave"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保存</font></font></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SetPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="height:auto">
            <div class="modal-header">
                <strong>个人信息:</strong>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group  row">
                    <input type="hidden" class="form-control" value="" id="PseronId" readonly="readonly">
                    <label class="col-sm-2 text-right  col-form-label"><font style="vertical-align: inherit;">姓名</font></label>
                    <div class="col-sm-4" style="vertical-align: middle;"><input type="text" class="form-control" value="" id="Name" readonly="readonly"></div>
                    <label class="col-sm-2 text-right col-form-label"><font style="vertical-align: inherit;">昵称</font></label>
                    <div class="col-sm-4"><input type="text" class="form-control" id="Nickname"></div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 text-right  col-form-label"><font style="vertical-align: inherit;">性别</font></label>
                    <div class="col-sm-4" style="vertical-align: middle;"><input type="text" class="form-control" value="" id="Gender"></div>
                    <label class="col-sm-2 text-right col-form-label"><font style="vertical-align: inherit;">出生年月</font></label>
                    <div class="col-sm-4"><input type="text" class="form_datetime form-control" id="Birthday"></div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 text-right  col-form-label"><font style="vertical-align: inherit;">邮箱</font></label>
                    <div class="col-sm-4" style="vertical-align: middle;"><input type="text" class="form-control" value="" id="Email"></div>
                    <label class="col-sm-2 text-right col-form-label"><font style="vertical-align: inherit;">家乡</font></label>
                    <div class="col-sm-4"><input type="text" class="form-control" id="Hometown"></div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 text-right  col-form-label"><font style="vertical-align: inherit;">职业</font></label>
                    <div class="col-sm-4" style="vertical-align: middle;"><input type="text" class="form-control" value="" id="Profession"></div>
                    <label class="col-sm-2 text-right col-form-label"><font style="vertical-align: inherit;">联系方式</font></label>
                    <div class="col-sm-4"><input type="text" class="form-control" id="Phone"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="UpdataPerson"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保存</font></font></button>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <link href="~/Content/fileinput/fileinput.min.css" rel="stylesheet" />
    <link href="~/Scripts/fileinput/themes/explorer/theme.min.css" rel="stylesheet" />
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@section scripts{
    <script src="~/Scripts/fileinput/fileinput.min.js"></script>
    <script src="~/Scripts/fileinput/themes/explorer/theme.min.js"></script>
    <script src="~/Scripts/fileinput/themes/fas/theme.min.js"></script>
    <script src="~/Scripts/fileinput/locales/zh.js"></script>
    <script src="~/Scripts/time/moment-with-locales.min.js"></script>
    <script src="~/Scripts/time/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            var oFileInput = new FileInput();
            oFileInput.Init("HeadPortrait", "/BosomFriend/UpdateHeadPortrait");
            $("#PersonContext").on("click", ".Head", function () {
                $("#myModal").modal('show');
                var ID = $(this).parents(".btn-group").attr("dataID")
                $("#titleid").val(ID)
                initPortrait(ctrlName, ID)
                //增加肖像的上传处理
                initPortrait("HeadPortrait", result.UserId);//使用写入的ID进行更新
                //$('#HeadPortrait').fileinput('upload'); //触发插件开始上传。
            })
            $("#PersonContext").on("click", ".Like", function () {
                var ID = $(this).parents(".btn-group").attr("dataID")
                var goodvalue = $(this).parents(".contact-box-footer").prev().find(".Goodvalue");
                //alert(goodvalue.text())
                $.post("@Url.Action("Like", "BosomFriend")",{ ID:ID }, function (data){
                    if (data.ReturnValue) {
                        goodvalue.text(data.Message);
                        toastr.success("太棒了+1！");
                    } else {
                        toastr.error(data.Message);
                    }
                }).fail(function (error) {
                   console.log(error)
                });

            })
            $("#PersonContext").on("click", ".More", function () {
                var ID = $(this).parents(".btn-group").attr("dataID")
                $("#PseronId").val(ID)
                $("#SetPerson").modal('show');
                $.post("@Url.Action("redayPerson", "BosomFriend")", { PseronId: $("#PseronId").val() }, function (result) {
                    $("#Name").val(result.Name)
                        var Nickname = result.Nickname == null ? "暂无" : result.Nickname
                        $("#Nickname").val(Nickname)
                        var Gender = result.Gender == null ? "暂无" : result.Gender
                        $("#Gender").val(Gender)
                        var Birthday = result.Birthday == null ? "暂无" : result.Birthday
                        Birthday = new Date(parseInt(Birthday.replace("/Date(", "").replace(")/", ""), 10)).toLocaleDateString()
                        $("#Birthday").val(Birthday)
                        var Email = result.Email == null ? "暂无" : result.Email
                        $("#Email").val(Email)
                        var Hometown = result.Hometown == null ? "暂无" : result.Hometown
                        $("#Hometown").val(Hometown)
                        var Profession = result.Profession == null ? "暂无" : result.Profession
                        $("#Profession").val(Profession)
                        var Phone = result.Phone == null ? "暂无" : result.Phone
                        $("#Phone").val(Phone)

                }).fail(function (error) {
                    console.log(error)
                });
            })
            $("#UpdataSave").click(function () {
                var id = $("#titleid").val();
                if (id!="") {
                    var img = $("#HeadPortrait").val()
                    var picturename = img.substring($("#HeadPortrait").val().indexOf('.'), $("#HeadPortrait").val().length).toUpperCase();
                    if (picturename = ".JPG" || picturename == ".PNG" || picturename == ".JPEG" || picturename == ".GIF") {
                        //增加肖像的上传处理
                        initPortrait("HeadPortrait", id);//使用写入的ID进行更新
                        $('#HeadPortrait').fileinput('upload'); //触发插件开始上传。
                    } else {
                        toastr.warning("不符合图片格式！")
                    }
                }
            })

            $("#UpdataPerson").click(function () {
                $.post("@Url.Action("Generate", "BosomFriend")", JsonPerson(), function (result) {
                    if (result.returnValue) {
                        toastr.success(result.Message)
                        window.location.reload();
                    } else {
                        toastr.warning(result.Message)
                    }
                }).fail(function (error) {
                    console.log(error)
                });
            })
        })

        function JsonPerson() {
            var person = {
                PersonId: $("#PseronId").val(),
                Name: $("#Name").val(), Nickname: $("#Nickname").val(), Gender: $("#Gender").val(), Birthday: $("#Birthday").val(),
                Email: $("#Email").val(), Hometown: $("#Hometown").val(), Profession: $("#Profession").val(), Phone: $("#Phone").val(),
            }
            return person;
        }

        var FileInput = function () {
            var oFile = new Object();
            //初始化fileinput控件（第一次初始化）
            oFile.Init = function (ctrlName, uploadUrl) {
                var control = $('#' + ctrlName);
                //初始化上传控件的样式
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: uploadUrl, //上传的地址
                    allowedFileExtensions: ['jpg', 'gif', 'png', "jpeg"],//接收的文件后缀
                    showCaption: true,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式     
                    showPreview: true,//是否显示预览
                    layoutTemplates: {
                        // actionDelete:'', //去除上传预览的缩略图中的删除图标
                        actionUpload: '',//去除上传预览缩略图中的上传图片；
                        actionZoom: '',   //去除上传预览缩略图中的查看详情预览的缩略图标。
                        footer: '<div class="file-thumbnail-footer">\n' +
                        '<div class="file-caption-name" style="width:{width}">{caption}</div>\n' +
                          '{progress} {actions}\n' +
                         '</div>',
                    },
                    overwriteInitial: false,
                    dropZoneEnabled: false,//是否显示拖拽区域
                    //minImageWidth: 50, //图片的最小宽度
                    //minImageHeight: 50,//图片的最小高度
                    //maxImageWidth: 350,//图片的最大宽度
                    //maxImageHeight: 350,//图片的最大高度
                    maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,                
                    showUpload: false, //是否显示上传按钮
                    //showRemove: false, //不显示移除按钮
                    //showBrowse: shwoKey,//是否显示选择按钮
                    showCaption: true,//是否显示选择输入框
                    maxFileCount: 1, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount: true,
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                    previewFileIcon: true,//是否显示文件icon 默认图片是直接显示缩略图 文件会展示相关内容         
                    preferIconicPreview: true,//是否强制相关文件展示icon
                    initialPreviewAsData: true,
                    //previewFileIconSettings: {}//配置相关文件展示的icon
                    //fileActionSettings: {
                    //    showZoom: true,
                    //    showDrag: false,
                    //    showRemove: false,
                    //    showUpload: false
                    //}
                    //uploadExtraData: function(previewId, index) {   //额外参数的关键点
                    //    //index = 2;
                    // }
                });
                //导入文件上传完成之后的事件   这个方法注册上传完成后的回调事件。也就是后天处理上传的文件之后进入这个方法
                $("#HeadPortrait").on("fileuploaded", function (event, data, previewId, index) {
                    if (data.response) {
                        toastr.success("上传成功")
                        window.location.reload();
                    }
                });
            }
            return oFile;
        };
        function initPortrait(ctrlName, id) {
            var control = $('#' + ctrlName);
            var imageurl = '/BosomFriend/UpdateHeadPortrait?id=' + id + '&r=' + Math.random();
            //重要，需要更新控件的附加参数内容，以及图片初始化显示
            control.fileinput('refresh', {
                uploadExtraData: { id: id },
                initialPreview: [ //预览图片的设置
                "<img src='" + imageurl + "' class='file-preview-image' alt='肖像图片' title='肖像图片'>",
                ],
            });
        }
        $(".form_datetime").datetimepicker({ format: 'YYYY-MM-DD' });
    </script>
}
