
@{
    ViewBag.Title = "文字识别";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Tool")">文字识别</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Tool")"><strong>@ViewBag.Title</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>选择图片</h5>
                </div>
                <div class="ibox-content">
                    <p><input type="file" name="Img" id="Img" class="file-loading" /></p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>识别信息</h5>
                </div>
                <div class="ibox-content">
                    <div id="message" class="text-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

  
@section Styles{
    <link href="~/Content/fileinput/fileinput.min.css" rel="stylesheet" />
    <link href="~/Scripts/fileinput/themes/explorer/theme.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/fileinput/fileinput.min.js"></script>
    <script src="~/Scripts/fileinput/themes/explorer/theme.min.js"></script>
    <script src="~/Scripts/fileinput/themes/fas/theme.min.js"></script>
    <script src="~/Scripts/fileinput/locales/zh.js"></script>
    <script>
        $(function () {
            var oFileInput = new FileInput();
            oFileInput.Init("Img", "/Tool/WenZiMessage");          
        })
        var FileInput = function () {
            var oFile = new Object();
            //初始化fileinput控件（第一次初始化）
            oFile.Init = function (ctrlName, uploadUrl) {
                var control = $('#' + ctrlName);
                //初始化上传控件的样式
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: uploadUrl, //上传的地址
                    allowedFileExtensions: ['jpg', 'gif', 'png', "jpeg"],//接收的文件后缀
                    showCaption: true,//是否显示标题
                    browseClass: "btn btn-info", //按钮样式     
                    showPreview: true,//是否显示预览
                    layoutTemplates: {
                        // actionDelete:'', //去除上传预览的缩略图中的删除图标
                        actionUpload: '',//去除上传预览缩略图中的上传图片；
                        actionZoom: '',   //去除上传预览缩略图中的查看详情预览的缩略图标。
                        footer: '<div class="file-thumbnail-footer">\n' +
                            '<div class="file-caption-name" style="width:{width}">{caption}</div>\n' +
                            '{progress} {actions}\n' +
                            '</div>',
                    },
                    overwriteInitial: false,
                    dropZoneEnabled: false,//是否显示拖拽区域
                    //minImageWidth: 50, //图片的最小宽度
                    //minImageHeight: 50,//图片的最小高度
                    //maxImageWidth: 350,//图片的最大宽度
                    //maxImageHeight: 350,//图片的最大高度
                    maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,                
                    showUpload: false, //是否显示上传按钮
                    //showRemove: false, //不显示移除按钮
                    //showBrowse: shwoKey,//是否显示选择按钮
                    showCaption: true,//是否显示选择输入框
                    maxFileCount: 1, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount: true,
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                    previewFileIcon: true,//是否显示文件icon 默认图片是直接显示缩略图 文件会展示相关内容         
                    preferIconicPreview: true,//是否强制相关文件展示icon
                    initialPreviewAsData: true,
                    //previewFileIconSettings: {}//配置相关文件展示的icon
                    //fileActionSettings: {
                    //    showZoom: true,
                    //    showDrag: false,
                    //    showRemove: false,
                    //    showUpload: false
                    //}
                    //uploadExtraData: function(previewId, index) {   //额外参数的关键点
                    //    //index = 2;
                    // }
                });
                $("#Img").on("filebatchselected", function (event, files) {
                    $('#Img').fileinput('upload'); //触发插件开始上传。
                })
                 
                
                //导入文件上传完成之后的事件   这个方法注册上传完成后的回调事件。也就是后天处理上传的文件之后进入这个方法
                $("#Img").on("fileuploaded", function (event, data, previewId, index) {
                    //if (data.response) {
                    //    toastr.success("上传成功")
                    //    window.location.reload();
                    //}
                    console.warn("返回信息");
                    console.warn(data);
                    $("#message").text(data.response.Message);
                });
            }
            return oFile;
        };
     
    </script>
}